#####################################################
# Configuration file for SDLPAL                     #
#                                                   #
# Lines started with '#' is treated as comments.    #
#####################################################

# GamePath: Indicate the path where the game resource located.
# GamePath=pal

# WindowWidth: Indicates the width of game window. Default value varies on different
#              platforms. On desktop, the default value is 640.
#WindowWidth=640

# WindowHeight: Indicates the height of game window. Default value varies on different
#               platforms. On desktop, the default value is 400.
#WindowHeight=400

# FullScreen: Indicates whether the game should started fullscreen or not, default is not.
#             On some platforms, such as mobile OS or WinRT, this option is ignored.
#FullScreen=0

# EnableAviPlay: Indicates whether enable AVI playback. AVI only exist in the Win95 game distribution.
#                Note: SDLPal only support the codec the original distribution uses.
#EnableAviPlay=0
